{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="{{ csrf_token }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/diary/Mdiary_list.css'%}">
  <link rel="stylesheet" href="{% static '/css/home/main.css'%}">
  <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css" />
  <script  src="http://code.jquery.com/jquery-latest.min.js"></script>
  <title>내 다이어리 목록</title> 
</head>

<!-- 공통 상단좌측메뉴 -->
<script>
  $(function() {
    // GNB 클릭
    $('#menu ul li').on('click', function() {
      $('#menu ul li').removeClass('active');
      $(this).addClass('active');
    });

    // 검색창
		$('#searchBtn').click(function(){
      $("#main_search").removeClass('closed').addClass('open');
      $('#s_overlay').addClass('show');
    });
    $('#search_closeBtn').click(function(){
      $("#main_search").removeClass('open').addClass('closed');
      $('#s_overlay').removeClass('show');
    });
    $('#s_overlay').click(function() { //배경 클릭하면 닫히게
      $('#main_search').removeClass('open').addClass('closed');
      $('#s_overlay').removeClass('show');
    });

    // 검색창 검색기능
    $('.search_box input').on('keypress', function(event){
      if (event.key == 'Enter') {
        // 입력값과 일치하는 일기 찾기
        alert("데이터가 검색되었습니다.")
        ctitle = "{{Content.ctitle}}"
        cdate = "{{Content.cdate}}"
        ccontent = "{{Content.ccontent}}"
        cno = "{{Content.cno}}"
        //ajax 구문
        $.ajax({
          headers:{"X-CSRFToken":$("meta[name='csrf-token']").attr("content")},
          url:"/main/search/",
          type:"post",
          data:{"csearch":$("#csearch").val()}, //views.py데이터 보냄
          success:function(data){
            //data -> 넘어온 검색결과
            console.log("리스트 : "+data.list_qs)
            console.log("리스트 : "+data.list_qs[0])
            console.log("리스트개수 : "+data.list_qs.length)
            //html보내는 부분
            var hdata = ""
            hdata += `<div id="search_result">검색 결과 <span>(${data.list_qs.length})</span></div>`
            for(var i=0;i<data.list_qs.length;i++){
              // cdate를 Date 객체로 변환 > 0년0월0일로 형식 변환
              var cdate = new Date(data.list_qs[i].cdate);  
              var formattedDate = cdate.getFullYear() + "년 " + (cdate.getMonth() + 1) + "월 " + cdate.getDate() + "일";
              hdata += `<div class="search_list"><a href="/diary/diary_view/${data.list_qs[i].cno}/">
              <span class="s_title"> ${data.list_qs[i].ctitle}</span>
                    <span class="s_date">${formattedDate}</span>
                    <img src="/static/images/home/right.png" alt="">
                    </a>
                    </div>`
            }
                $("#search_content").html(hdata)
              },
              error:function(){
                alert("에러")
              }
            })
          }
          event.preventDefault(); // 기본 제출 방지
    });


    // 알림창
    $('#notiBtn').click(function() {
      $('#noti_side').removeClass('closed').addClass('open');
      $('#n_overlay').addClass('show');
    });
    $('#noti_closeBtn').click(function() {
      $('#noti_side').removeClass('open').addClass('closed');
      $('#n_overlay').removeClass('show');
    });
    $('#n_overlay').click(function() { //배경 클릭하면 닫히게
      $('#noti_side').removeClass('open').addClass('closed');
      $('#n_overlay').removeClass('show');
    });

  });
</script>
</head>
<body>
<!-- 최상단 메뉴 -->
<div id="top_nav">
  <h1><a href="/main/index/"></a></h1>
  <ul class="top_menu">
    <li><a id="searchBtn"><img src="/static/images/home/search_icon.png" alt=""></a></li>
			<li><a id="notiBtn"><img src="/static/images/home/bell_off_icon.png" alt=""></a></li>
    <li><a href="/mypage/main/">마이페이지</a></li>
  </ul>

</div>

<!-- 좌측 gnb -->
<div id="gnb">

  <!-- 프로필 -->
  <div id="user_profile">
    <div id="pimg">
      <img src="{{ qb.img.url }}" alt="" />
    </div>
    <p id="uName">{{info.name}}</p>
    <p id="uEmail">{{info.mail}}</p>
  </div>

  <!-- Nav -->
  <nav id="menu">
    <ul>
      <a href="/main/index/"><li class="menu_item">우리 가족 이야기</li></a>
      <a href="/diary/diaryHome/"><li class="menu_item active">다이어리</li></a>
      <a href="/emotion/main/"><li class="menu_item">감정 돌아보기</li></a>
      <a href="/family1/fam/"><li class="menu_item">우리가족</li></a>
      <a href="/calendar1/cal/"><li class="menu_item">캘린더</li></a>
      <a href="/customer/"><li class="menu_item">알려드려요</li></a>
    </ul>
  </nav>

  <!-- logout -->
  <div id="logout">
    <a href="/main/logout/"><span>로그아웃</span></a>
  </div>
  
</div>

<!-- 검색창 슬라이드 -->
<div id="s_overlay" class="s_overlay"></div>
<div id="main_search" class="search_bar closed">
  <div id="input_wrap">
    <form action="/main/search/" method="POST" name="searchFrm" id="searchFrm">
      <div class="search_box">
        {% csrf_token %}
        <input type="text" id="csearch" placeholder="다이어리에서 찾고 싶은 내용을 입력하세요.">
        <img src="/static/images/home/search_icon.png" alt="">
      </div>
    </form>
      <button type="button" id="search_closeBtn">
        <img src="/static/images/home/close_icon.png" alt="알림창닫기">
      </button>
  </div>
    <div id="search_content">
      <div id="search_result">
        검색 결과 <span>(0)</span>
      </div>
      <div class="search_list">
        <a>
          <span class="s_title">찾고자 하는 일기를 검색해 보세요.</span>
          <span class="s_date"></span>
          <img src="/static/images/home/right.png" alt="">
        </a>
      </div>
    </div>
  </div>


<!-- 알림창 슬라이드 -->
<div id="n_overlay" class="n_overlay"></div>
<div id="noti_side" class="sidebar closed">
  <div class="noti_header">
    <h2>알림</h2>
    <button id="noti_closeBtn"><img src="/static/images/home/close_icon.png" alt="알림창닫기"></button>
  </div>
  <ul id="noti_list">
    <li class="noti_list">
      <a href="">
        <div>
          <img src="/static/images/home/default_profile.png" alt="프로필이미지">
        </div>
        <div>
          <p>장서윤 님이 새로운 기록을 공유했어요.</p>
        </div>
      </a>
    </li>
    <li class="noti_list checked">
      <a href="">
        <div>
          <img src="/static/images/home/default_profile.png" alt="프로필이미지">
        </div>
        <div>
          <p>배현지 님이 용준님의 기록에 좋아요를 눌렀어요.</p>
        </div>
      </a>
    </li>
    <li class="noti_list checked">
      <a href="">
        <div>
          <img src="/static/images/home/default_profile.png" alt="프로필이미지">
        </div>
        <div>
          <p>이다영 님이 용준님의 기록에 댓글을 남겼어요.</p>
        </div>
      </a>
    </li>
    <li class="noti_list checked">
      <a href="">
        <div>
          <img src="/static/images/home/default_profile.png" alt="프로필이미지">
        </div>
        <div>
          <p>정종원 님이 용준님의 기록에 좋아요를 남겼어요.</p>
        </div>
      </a>
    </li>
  </ul>
</div>

<!-- 공통 상단좌측메뉴 -->


<!-- 다이어리 리스트 -->
<div id="main_area">

  <div id="title_area">
    <p id="infoTit">
      {% if mdiary %}
        {{mdiary.mtitle}}
      {% else %}
        내 다이어리 이름을 설정해 주세요.
      {% endif %}
        <span><div id="modify_del_slide_1">
          <button type="button" id="addBtn">
          <img src="/static/images/customer/addBtn.png" alt="" id="openModal_1" style="cursor: pointer;">
          </button></span>
        <span>
          <button type="button" class="wBtn"><a href="/diary/diaryWrite/"><img id="writeBtn" src="/static/images/diary/writeBtn.png" alt=""></a></button> 
          <div class="sub_menu_modal" id="sub_menu_modal_1">
            <div id="sub_menu_content">
              <button id="diaryEditBtn">다이어리 수정</button>
              <button id="diaryDeleteBtn">다이어리 삭제</button>
            </div>
          </div>
        </div></span>
    </p>
    


    <p id="dateTit">{{mdiary.mdate|date:"Y년 m월 d부터 씀"}}</p>
  </div>
  
  <div id="list_area">
    {% if content %}
    {% for c in content %}
    <div class="list_group">
      <a href="/diary/diary_view/{{c.cno}}/?pageNum={{forloop.revcounter}}">
        <div class="wrap_cont">
          {% if c.group_diary.all %}
          <span class="tit_post"><span class="num_txt">{{forloop.revcounter}}</span>{{c.ctitle}}<span class="img"></span></span>
          {% else %}
          <span class="tit_post"><span class="num_txt">{{forloop.revcounter}}</span>{{c.ctitle}}<span class="img"><img src="/static/images/diary/lock.png" alt=""></span></span>
          {% endif %}
          <p class="desc_cont">
            <span class="diaryTit">{{mdiary.mtitle}}</span><span class="space"> | </span>
            <span class="list_txt">{{c.ccontent}}
            </span>
          </p>
        </div>
        <dl class="list_post_info">
          <dd class="txt_g">
            <span>{{ c.cdate|date:"Y.m.d" }}</span><span class="space"> | </span>
            <span>댓글</span><span>01</span><span class="space"> | </span>
            <span>좋아요</span><span>02</span>
          </dd>
        </dl>
      </a>
    </div>
    {% endfor %}
    {% else %}
    일기를 작성해봅시다!🙌
    {% endif %}
    </div>

  </div>

  <ul class="page_num">
    <!-- 이전페이지 확인 -->
    {% if MdiaryList.has_previous %}
      <a href="?npage=1"><li class="first"><img src="/static/images/diary/left_double.png" alt=""></li></a>
      <a href="?npage={{MdiaryList.previous_page_number}}"><li class="prev"><img src="/static/images/diary/left.png" alt=""></li></a>
    {% else %}
      <li class="first"></li>
      <li class="prev"></li>
    {% endif %}

    <!-- 순차적 페이지 넘버링 -->
    {% for page in MdiaryList.paginator.page_range %}
      {% if page == MdiaryList.number %}
        <a href="#"><li class="nowNum"><strong>{{page}}</strong></li></a>
      {% else %}
        <a href="?npage={{page}}"><li class="num"><div>{{page}}</div></li></a>
    {% comment %} <li class="nowNum"><a href="#">1</a></li> {% endcomment %}
      {% endif %}
    {% endfor %}

    <!-- 이후페이지 확인 -->
    {% if MdiaryList.has_next %}
      <a href="?npage={{diary.next_page_number}}"><li class="next"><img src="/static/images/diary/right.png" alt=""></li></a>
      <a href="?npage={{diary.paginator.num_pages}}"><li class="last"><img src="/static/images/diary/right_double.png" alt=""></li></a>
    {% else %}
      <li class="next"></li>
      <li class="last"></li>
    {% endif %}

  </ul>
</div>

<script>
  // 첫 번째 모달 열기/닫기
  document.getElementById('openModal_1').addEventListener('click', function() {
    var modal = document.getElementById('sub_menu_modal_1');
    console.log('첫 번째 모달 클릭됨');
    modal.classList.toggle('open'); // open 클래스가 있으면 제거, 없으면 추가
  });

  
  document.getElementById('back_click').addEventListener('click', function() {
    console.log('목록 클릭됨');
    location.href='/customer/noticelist/'
  });
</script>

</body>
</html>